@font-face {
    font-family: 'Nikumaru';
    src: url('../font/Nikumaru.ttf') format("truetype");
}
@font-face {
    font-family: 'haranyan';
    src: url('../font/haranyan.ttf') format("truetype");
}